@import 'css/lib/owl.carousel.css';
@import 'css/lib/owl.theme.css';
@import 'css/lib/owl.transitions.css';
@import 'css/lib/magnific-popup.css';
@import 'css/lib/onScreenKeyboard.css';
@import 'css/lib/jquery.bxslider.css';
@import 'css/lib/glyphicons.css';
@import 'css/lib/jquery-ui.css';
/*body{background:#f5d078;}*/
.accessory-close {
  background: url("images/icon-close.svg") no-repeat center center;
  background-size: 100%;
  height: 14px;
  width: 13px;
  cursor: pointer;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
}
.accessory-close.active {
  visibility: visible;
  opacity: 1;
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px;
  color: #ff6b00;
  background-color: #fff;
  border-bottom: 8px solid #a7a9ac;
  font-weight: 900;
  letter-spacing: -0.01em;
  font-size: 0.9em;
  padding: 0.55em 1em;
  position: relative;
  -webkit-transition: none;
          transition: none;
  margin: 0.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
.btn:active {
  top:auto;
  border-color: transparent !important;
}
.btn-red {
  background-color: #c01e39;
  border-color: #731222;
  color: #fff;
}
.btn-green {
  background-color: #286a38;
  border-color: #284d38;
  color: #fff;
}
.btn-green-light {
  background-color: #39b54a;
  border-color: #286a38;
  color: #fff;
}
.btn-orange {
  background-color: #ff6b00;
  border-color: #86412a;
  color: #fff;
}
.btn-small {
  border-radius: 5px;
  border-bottom-width: 4px;
}
.btn-small:active {
  top: 4px;
}
.btn-xsmall {
  border-radius: 5px;
  border-bottom-width: 2px;
  padding: 2px;
  font-size: 12px;
}
.btn-xsmall:active {
  top: 2px;
}
.btn-upload + input {
  display: none;
  margin: -9999px;
}
.btn-close {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -15px;
  right: -15px;
  background: url("images/icon-close.svg") no-repeat center center;
  background-size: 38px;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
}
.btn-share {
  background: #318dde url("images/icon-share.svg") no-repeat 10px center;
  border-color: #005cb9;
  padding-left: 40px;
  background-size: 20px;
  overflow: hidden;
  color: #fff;
  font-size: 1em;
}
.btn-blue {
  border-color: #005cb9;
  background-color: #318dde;
  color: #fff;
}
.header {
  *zoom: 1;
  max-height: 10%;
}
.header:before,
.header:after {
  content: '';
  display: table;
}
.header:after {
  clear: both;
}
.header .logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.header .logo:before,
.header .logo:after {
  content: '';
  display: table;
}
.header .logo:after {
  clear: both;
}
.header .logo:last-child {
  margin-right: 0%;
}
.header .logo img {
  width: 30%;
  min-width: 200px;
  margin: 0.3em;
  display: inline-block;
}
.header .logo h2 {
  text-transform: uppercase;
  color: #ff6b00;
  font-weight: 300;
  font-size: 1em;
  display: inline-block;
  letter-spacing: 0.05em;
  vertical-align: top;
  padding-top: 0.25em;
  position: relative;
  left: -0.5em;
}
.header .nav {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
  position: relative;
}
.header .nav:before,
.header .nav:after {
  content: '';
  display: table;
}
.header .nav:after {
  clear: both;
}
.header .nav:last-child {
  margin-right: 0%;
}
.header .nav .btn {
  border-radius: 8px;
  border-bottom-width: 5px;
}
.header .nav .btn:active {
  top: 3px !important;
}
.header .nav .btn-home {
  background: #fff url("images/icon-home.svg") no-repeat center center;
  background-size: 55%;
  width: 45px;
  height: 45px;
  text-indent: 9999px;
  overflow: hidden;
}
.header .nav .btn-cart {
  background: #fff url("images/icon-cart.svg") no-repeat center center;
  background-size: 55%;
  width: 45px;
  height: 45px;
  text-indent: 9999px;
  overflow: hidden;
}
.header .nav .btn-username {
  height: 45px;
  line-height: 1.50em;
  text-transform: none;
  color: #6d6e71;
  float: right;
  /*cursor: default;*/
}
.header .nav .btn-username:active {
  top: 0 !important;
  border-width: 5px;
  border-color: #a7a9ac !important;
}
.header .nav .btn-logout {
  background-color: #d0112b;
  border-color: #8b1f25;
  border-radius: 5px;
  color: #fff;
  /*position: relative;*/
  /*margin-top: -0.15em;*/
  /*right: -0.75em;*/
  border-width: 3px;
  /*height: 30px;
  line-height: 1.1em;*/
  height: 45px;
  float: right;
  line-height: 2em;
}
.header .nav .btn-logout:active {
  top: 2px !important;
}
.header .nav .btn-login {
  color: #fff;
  background-color: #6d6e71;
  border-color: #414042;
  height: 45px;
  float: right;
  line-height: 2em;
}
.home-create .btn, .home-gender-male .btn, .home-gender-female .btn, .home-gender-kids .btn {
  position: relative;
  -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
}
.home-create .btn:after,
.home-create .btn:before,
.home-gender-male .btn:after,
.home-gender-male .btn:before,
.home-gender-female .btn:after,
.home-gender-female .btn:before,
.home-gender-kids .btn:after,
.home-gender-kids .btn:before, {
  display: block;
  opacity: 0;
  position: absolute;
  content: '';
  top: 1.15em;
  left: 4%;
  width: 90%;
  height: 0.5em;
  background-color: transparent;
  border: 0.15em solid #fff;
  border-radius: 0.8em;
}
.home-create .btn:after,.home-gender-male .btn:after,.home-gender-female .btn:after,.home-gender-kids .btn:after, {
  width: 0;
  background-color: #fff;
  margin-left: 0.15em;
  -webkit-transition: width 0.6s ease-in;
          transition: width 0.6s ease-in;
  border-radius: 0.8em 0 0 0.8em;
}
.home-create .btn.animate, .home-gender-male .btn.animate, .home-gender-female .btn.animate, .home-gender-kids .btn.animate,  {
  color: transparent;
}
.home-create .btn.animate:before,
.home-create .btn.animate:after,
.home-gender-male .btn.animate:before,
.home-gender-male .btn.animate:after,
.home-gender-female .btn.animate:before,
.home-gender-female .btn.animate:after,
.home-gender-kids .btn.animate:before,
.home-gender-kids .btn.animate:after, {
  opacity: 1;
  border-radius: 0.8em;
}
.home-create .btn.animate:after,.home-gender-male .btn.animate:after,.home-gender-female .btn.animate:after,.home-gender-kids .btn.animate:after, {
  width: 90%;
  margin-left: 0;
}
.home-create,
.home-signup/*,
.home-gender-male,
.home-gender-female,
.home-gender-kids*/ {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: -6%;
}
.home-create:before,
.home-signup:before,
.home-create:after,
.home-signup:after,
.home-gender-male:before,
.home-gender-female:before,
.home-gender-kids:before,
.home-gender-male:after,
.home-gender-female:after,
.home-gender-kids:after {
  content: '';
  display: table;
}

.home-create:after,
.home-gender-male:after,
.home-gender-female:after,
.home-gender-kids:after,
.home-signup:after {
  clear: both;
}
.home-create:last-child,
.home-gender-male:last-child,
.home-gender-female:last-child,
.home-gender-kids:last-child,
.home-signup:last-child {
  margin-right: 0%;
}
.home-create img,
.home-signup img {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}


.home-gender-male img,
.home-gender-female img,
.home-gender-kids img{
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.gender-holder{
  margin-top: 100px;
}

.gender-male, .gender-female{
  width: 40%;
  display: inline-block;
}

.gender-male img, .gender-female img{
  width: 50%;
  display: block;
  margin: 0 auto  
}


.home-gender-male .btn,
.home-gender-female .btn,
.home-gender-kids .btn
 {
  min-width: 200px;
  padding: 0.5em 0em;
  font-size: 1.5em;
}

.home-create .btn, .home-signup .btn{
  font-size: 25px;
}
.home-create .btn:active,
.home-gender-male .btn:active,
.home-gender-female .btn:active,
.home-gender-kids .btn:active,
.home-signup .btn:active {
  top: 4px !important;
}

.gender{
  display: inline-block;
  margin-top: 50px;
}



#osk-container {
  bottom: 0;
  top: auto !important;
  left: 50% !important;
  width: 900px;
  margin-left: -450px;
  border-radius: 10px 10px 0 0 !important;
  z-index: 10000;
}
#osk-container > li {
  border-radius: 8px !important;
  border-bottom: 4px solid #2c2c2c;
  background-color: #545454 !important;
  color: #fff;
  font-size: 1.25em;
  position: relative;
}
#osk-container > li:hover {
  top: 0 !important;
}
#osk-container > li:active {
  top: 4px !important;
  border-bottom: 0;
}
.main {
  overflow: hidden;
}
.main .btn {
  border-radius: 8px;
  border-bottom-width: 5px;
}
.main .btn:active {
  top: 5px;
}
.main-tools {
  /*margin-top: 16px;*/
  margin-bottom:  35px;
  width: 100%;
  text-align: center;
}
.main-tools div,
.main-tools p {
  display: inline-block;
}
.main-tools .btn-undo,
.main-tools .btn-redo {
  background: #ff6b00 url("images/icon-undo.svg") no-repeat 10px center;
  padding-left: 40px;
  background-size: 20px;
  height: 40px;
  overflow: hidden;
}
.main-tools .btn-redo {
  background-image: url("images/icon-redo.svg");
}
.main-tools .btn-zoom-in,
.main-tools .btn-zoom-out {
  background: #ff6b00 url("images/icon-zoom-in.svg") no-repeat center center;
  background-size: 55%;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
/*  overflow: hidden;*/
}
.main-tools .btn-zoom-out {
  background-image: url("images/icon-zoom-out.svg");
}
.main-tools .btn-save {
  float: right;
  padding-left: 2em;
  padding-right: 2em;
}
.main-tools-zoom {
  margin: 0 1.5em;
}
.main-tools-zoom p {
  position: relative;
  color: #86412a;
  /*top: -20px;*/
  margin: 0 0.25em;
  vertical-align: middle;
}
.main-place-accessory {
  position: absolute;
  z-index: 30;
   top: 624px;
  bottom: 20px;
  left: 50%;
  display: none;
}
.main-place-accessory h2 {
  color: #fff;
  font-weight: 300;
  position: absolute;
  right: 250px;
  top: 30px;
}
.main-place-accessory .btn {
  font-size: 1.25em;
  min-width: 110px;
}
.main-show {
  width: 82%;
/*  height: 1000px;*/
  float: left;
  position: relative;
  z-index: 20;
}
.main-show-left,
.main-show-right {
  height: 1000px;
}
.main-other {
  width: 18%;
  /*padding-left: 1em;*/
  padding-top: 1em;
  float: left;
}
.main-checkout {
  background-color: #fff;
  border-radius: 12px;
  text-align: right;
  width: 100%;
  padding: 0.35em;
  padding-top: 0.5em;
  box-sizing: border-box;
  margin-top: 250px;
}
.main-checkout p {
  font-size: 0.7em;
  color: #636466;
  margin: 0;
  padding: 0.5em 0;
}
.main-checkout p b {
  font-size: 1.5em;
  font-weight: normal;
}
.main-checkout .btn {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  margin: 0;
}
.main-checkout .btn:active {
  top: 4px !important;
}
.main-show {
  text-align: center;
}
.main-view div {
  position: relative;
  height: 80px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 0.5em;
  background-color: #fff;
  cursor: pointer;
}
.main-view div:hover,
.main-view div.active {
  border: 3px solid #86412a;
}
.main-view div svg {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.options-header {
  margin-bottom: 1em !important;
  *zoom: 1;
}
.options-header:before,
.options-header:after {
  content: '';
  display: table;
}
.options-header:after {
  clear: both;
}
.options-header li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.options-header li:before,
.options-header li:after {
  content: '';
  display: table;
}
.options-header li:after {
  clear: both;
}
.options-header li:last-child {
  margin-right: 0%;
}
.options-header li a {
  background-color: #ff6b00;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 8px;
  border-bottom: 5px solid #86412a;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  width: 100%;
  margin-right: 5%;
  text-align: center;
  display: block;
  color: #fff;
  padding: 0.25em 0.5em;
  cursor: pointer;
  position: relative;
}
.options-header li a:hover {
  font-weight: bold;
}
.options-header li a:active {
  top: 4px;
  border-bottom-width: 0;
  font-weight: bold;
}
.options-header li a.active {
  top: 4px;
  border-bottom-width: 0;
  font-weight: bold;
}
.options-header li a.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ff6b00;
  position: absolute;
}
.options-search {
  *zoom: 1;
  text-align: center;
  min-height: 35px;
}
.options-search:before,
.options-search:after {
  content: '';
  display: table;
}
.options-search:after {
  clear: both;
}
.options-search input {
  background-color: #7a7877;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 13px;
  width: 78%;
}
.options-search a {
  background-color: #2d2a2a;
  border-bottom-color: #191516;
  color: #fff;
  font-weight: normal;
  padding: 5px;
  width: 20%;
}
.options-search a:active,
.options-search a.active {
  top: 2px;
  background-color: #ff6b00;
  border: none;
}
.options-sole-style-buttons {
  *zoom: 1;
  text-align: center;
  padding: 0 1em;
}
.options-sole-style-buttons:before,
.options-sole-style-buttons:after {
  content: '';
  display: table;
}
.options-sole-style-buttons:after {
  clear: both;
}
.options-sole-style-buttons a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  background-color: #5a5a5a;
  border-bottom-color: #191516;
  color: #fff;
  font-weight: normal;
}
.options-sole-style-buttons a:before,
.options-sole-style-buttons a:after {
  content: '';
  display: table;
}
.options-sole-style-buttons a:after {
  clear: both;
}
.options-sole-style-buttons a:last-child {
  margin-right: 0%;
}
.options-sole-style-buttons a:active,
.options-sole-style-buttons a.active {
  top: 2px;
  background-color: #ff6b00;
  border: none;
}
.options {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 360px;
  float: left;
  margin-right: 1em;
}
.options .wrap {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  min-height: 600px;
  padding: 2.5%;
}
.options ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.options ul li {
  display: inline-block;
}
.options h3 {
  color: #86412a;
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0 0.25em;
}
.options .js-carousel {
  background-color: rgba(255,255,255,0.4);
  padding: 0.5em;
  border-radius: 12px;
  position: relative;
  padding-left: 15px;
}
.options .js-carousel li {
  height: 75px;
  background-color: #fff;
  border-radius: 12px;
  display: block;
  margin: 0 0.25em;
  cursor: pointer;
}
.options .js-carousel li a {
  text-align: center;
  display: block;
  height: 100%;
  line-height: 4em;
}
.options .js-carousel li a img {
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.options .js-carousel li.active {
  border: 3px solid #ff740f;
}
.options .js-carousel li.active a {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.options-item {
  display: none;
  position: relative;
}
.options-item.active {
  display: block;
}
.options-size {
  display: block;
}
.options-size {
  *zoom: 1;
  margin-top: 0.25em;
}
.options-size:before,
.options-size:after {
  content: '';
  display: table;
}
.options-size:after {
  clear: both;
}
.options-size li {
  cursor: pointer;
}
.options-size li a {
  background-color: #86412a;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  border-bottom: 5px solid #5b2e1c;
  font-size: 1em;
  letter-spacing: 0.05em;
  width: 100%;
  margin-right: 5%;
  text-align: center;
  display: block;
  color: #fff;
  padding: 0.25em 0.5em;
}
.options-size li.active a {
  background-color: #5b2e1c;
  position: relative;
  top: 5px;
  border-bottom: none;
}
.options-size ul:first-child li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 0.25em;
  margin-bottom: 1em;
}
.options-size ul:first-child li:before,
.options-size ul:first-child li:after {
  content: '';
  display: table;
}
.options-size ul:first-child li:after {
  clear: both;
}
.options-size ul:first-child li:last-child {
  margin-right: 0%;
}
.options-size ul:first-child li a {
  min-height: 4em;
  line-height: 4em;
  font-size: 1.25em;
}
.options-size ul:last-child li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}
.options-size ul:last-child li:before,
.options-size ul:last-child li:after {
  content: '';
  display: table;
}
.options-size ul:last-child li:after {
  clear: both;
}
.options-size ul:last-child li:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
.options-size ul:last-child li:nth-child(4n+1) {
  clear: both;
}
.options-size ul:last-child li a {
  line-height: 2em;
  letter-spacing: -0.025em;
  font-size: 1.75em;
  padding: 0;
  padding-top: 0.5em;
  min-height: 2em;
}
.options-size ul:last-child li a:before {
  content: "SIZE";
  color: #fff;
  display: block;
  font-size: 0.4em;
  position: relative;
  top: 0.5em;
  line-height: 0;
  letter-spacing: 0;
}
.options-style {
  *zoom: 1;
  position: relative;
  margin-top: 0.25em;
}
.options-style:before,
.options-style:after {
  content: '';
  display: table;
}
.options-style:after {
  clear: both;
}
.options-style-color {

  z-index: 100;
  background: #fff;
  position: absolute;
  top: 0;
  right: -2em;
  border-radius: 0 8px 8px 0;
  -webkit-transition: all 250ms ease;
   transition: all 250ms ease;
    display: none;
    
}
.options-style-color.active {
    right: -55px;
     display: block;
    
}

.options-style-color li {
  display: block !important;
  margin: 0.5em;
  cursor: pointer;
}
.options-style-color li a {
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -999px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}
.options-style-color li.active a {
  border: 2px solid #ff740f;
}
.options-design-upload {
  background-color: rgba(255,255,255,0.4);
  padding: 0.5em 1em;
  border-radius: 12px;
  position: relative;
  width: 100%;
  margin: 1em 0;
}
.options-design-upload .btn {
  margin: 0.25em 0.15em;
}
.option-strap-accessories * {
  overflow: visible !important;
}
.owl-controls .owl-buttons {
  height: 0;
  margin: 0;
}
/*.owl-controls .owl-prev,
.owl-controls .owl-next {
  position: absolute;
  left: -1.5em;
  top: -0.5em;
  height: 100%;
  text-indent: -999px;
  border-radius: 12px 0 0 12px !important;
  opacity: 1 !important;
  background: #86412a url("images/icon-arrow-left.svg") no-repeat center center !important;
  background-size: 9px !important;
}
.owl-controls .owl-next {
  left: auto;
  right: -1.5em;
  border-radius: 0 12px 12px 0 !important;
  background-image: url("images/icon-arrow-right.svg") !important;
}*/

.owl-controls .owl-prev {
  position: absolute;
  left: -2px;
  top: 0px;
  height: 100%;
  width: 25px;
  /*text-indent: -999px;*/
  border-radius: 12px 0 0 12px !important;
  opacity: 1 !important;
  background: #86412a;
  background-size: 9px !important;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding-top: 6%;
  cursor: pointer;
}
.owl-controls .owl-next {
   position: absolute;
    background: #86412a;
    width: 25px;
    height: 100%;
    right: -2px;
    top: 0px;
    /*text-indent: -999px;*/
    border-radius: 0px 12px 12px 0px !important;
    background-size: 9px !important;
    opacity: 1 !important;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    padding-top: 6%;
    cursor: pointer;

}
.page-choose-theme {
  z-index: 800;
  background: #ea652d;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: #d25b23;
  background-image: url("images/home-bg.svg"), url("images/map.png");
  background-size: 3%, 1200px;
  background-repeat: repeat, no-repeat;
  background-position: center, center;
}
.page-choose-theme .header .logo h2 {
  color: #fff;
}
.page-choose-theme h1 {
  text-align: center;
  color: #fff;
  font-family: Lato, sans-serif;
  font-weight: 300;
}
.page-choose-theme .bx-prev,
.page-choose-theme .bx-next {
  position: absolute;
  top: 340px;
  left: -0.5em;
  width: 40px;
  height: 80px;
  font-size: 1.35em;
  text-align: center;
  border-radius: 8px;
  border-width: 4px;
}
.page-choose-theme .bx-prev span,
.page-choose-theme .bx-next span {
  float: left;
  margin-top: 14px;
  margin-left: -10px;
}
.page-choose-theme .bx-prev:active,
.page-choose-theme .bx-next:active {
  top: 344px;
}
.page-choose-theme .bx-pager-link.active {
  background-color: #fff !important;
}
.page-choose-theme .bx-pager-link {
  background-color: transparent !important;
  border: 3px solid #fff !important;
  height: 15px !important;
  width: 15px !important;
}
.page-choose-theme .bx-next {
  left: auto;
  right: -0.5em;
}
.page-choose-theme .bx-next span {
  float: right;
  margin-right: -10px;
}
.page-choose-theme .bx-pager {
  bottom: -80px !important;
}
.theme-choices {
  margin-left: 2em;
  padding-bottom: 2em;
}
.theme-choices li {
  padding-bottom: 2em;
}
.theme-choices li div {
  margin: 1em;
  margin-right: 4em;
}
.theme-choices li .image {
  height: 330px;
  width: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 10px solid rgba(0,0,0,0.4);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}
.theme-choices li .btn {
  display: block;
  font-size: 1.5em;
  padding: 0.75em 2em;
  margin-top: 1em;
}
.theme-choices li .btn:active {
  top: 3px !important;
}
.page-creator {
  background-color: #f5d078;
  /*background-image: url("images/home-bg.svg"), url("images/bg-leaves.svg"), url("images/bg-statue.svg"), url("images/bg-turtle.svg");*/
  /*background-position: center center, 120% 2%, -5% 95%, 109% 109%;*/
  /*background-repeat: repeat, no-repeat, no-repeat, no-repeat;*/
  /*background-size: 3%, 44%, 16%, 25%;*/
  padding: 1em;
  height: 800px;
}
.page-creator .body {
  *zoom: 1;
  padding: 0.5em;
}
.page-creator .body:before,
.page-creator .body:after {
  content: '';
  display: table;
}
.page-creator .body:after {
  clear: both;
}
.page-home {
  z-index: 900;
  background: #c7571d;
  background-size: 3%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
}
.page-home h1 {
  margin-top: 0.35em;
  margin-bottom: 0.15em;
}
.page-home h1 img {
  max-width: 500px;
  min-width: 300px;
  padding-top: 1em;
}
.page-home.animate {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.page-start {
  putek: #00f;
  z-index: 1000;
  background: #0078cb;
  /*background: #0078cb url("images/home-bg.svg");*/
  background-size: 3%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
}
.page-start h1 {
  margin: 1em 0;
}
.page-start h2 {
  font-family: Lato;
  font-weight: 300;
  font-size: 3em;
  margin: 0;
  margin-top: -0.5em;
}
.page-start a {
  background: url("images/home-slipper1.svg") no-repeat;
  background-position: 100% bottom;
  background-size: 85%;
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
  position: absolute;
  top: 0;
}
.page-start a:active {
  top: 3em;
}
.page-start p {
  color: #0078cb;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
  text-align: center;
  margin: 0 auto;
}
.popup {
  position: absolute;
  min-height: 450px;
  width: 840px;
  margin-left: -400px;
  left: 50%;
  top: 5em;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}
.popup.active {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.popup-get-ticket {
  padding-top: 5em;
  text-align: center;
}
.popup-get-ticket p {
  font-size: 1.5em;
  color: #58595b;
}
.popup-get-ticket img {
  max-width: 170px;
}
.popup-get-ticket .btn {
  padding: 0.75em 1em;
  min-width: 160px;
  font-size: 1.25em;
  border-radius: 10px;
  border-bottom-width: 6px;
}
.popup-checkout-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
  padding-top: 2em;
}
.popup-checkout-left:before,
.popup-checkout-left:after {
  content: '';
  display: table;
}
.popup-checkout-left:after {
  clear: both;
}
.popup-checkout-left:last-child {
  margin-right: 0%;
}
.popup-checkout-right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.popup-checkout-right:before,
.popup-checkout-right:after {
  content: '';
  display: table;
}
.popup-checkout-right:after {
  clear: both;
}
.popup-checkout-right:last-child {
  margin-right: 0%;
}
.popup-checkout .btn {
  border-radius: 10px;
  border-bottom-width: 6px;
  padding: 0px 8px;
  font-size: 1.05em;
}
.popup-checkout .btn-share {
  padding-left: 40px;
  margin-top: 1em;
}
.popup-checkout h2 {
  font-size: 1.1em;
}
.popup-checkout table {
  width: 100%;
  border-bottom: 1px solid #000;
  border-collapse: collapse;
}
.popup-checkout table th {
  font-size: 0.6em;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  text-align: left;
}
.popup-checkout table th:last-child {
  text-align: right;
}
.popup-checkout table td {
  font-size: 0.9em;
  padding: 0.50em 0;
  border-bottom: 1px dotted rgba(0,0,0,0.1);
}
.popup-checkout table td:last-child {
  text-align: right;
}
.popup-checkout-subtotal {
  border-bottom: none !important;
  margin: 0.5em 0;
}
.popup-checkout-subtotal td {
  font-size: 0.6em !important;
  border-bottom: none !important;
  text-align: right;
  text-transform: uppercase;
}
.popup-checkout-subtotal td:last-child {
  font-size: 1em !important;
  color: #39b54a;
}
.popup-checkout-grandtotal {
  margin-top: 2em;
  border-bottom: none !important;
}
.popup-checkout-grandtotal td input {
  width: 35px;
}
.popup-checkout-grandtotal tr:last-child td {
  border-bottom: none !important;
}
.popup-checkout-grandtotal tr:last-child td:first-child {
  font-size:16px;
  font-weight: bold;
  border-bottom: none !important;
  text-align: left;
  text-transform: uppercase;
}
.popup-checkout-grandtotal td:last-child {
  font-size: 0.2em;
  text-align: right;
}
.popup-checkout-grandtotal td:last-child:last-child {
  font-size: 1em !important;
  color: #39b54a;
}
.popup-checkout .btn-checkout-final {
  padding: 1em 1.5em;
  float: right;
  margin-top: 2em;
}
.popup-signin {
  min-height: 120px;
  padding: 0.25em 1em;
}
.popup-signin > div {
  float: left;
  padding: 0 5px;
}
.popup-signin input {
  box-sizing: border-box;
  width: 90%;
  border: none;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0.5em 1em;
}
.popup-signin .btn:active {
  top: 3px !important;
}
.popup-accessory {
  text-align: center;
  width: 450px;
  margin-left: -225px;
}
.popup-accessory h2 {
  font-weight: 300;
  font-size: 1.75em;
}
.popup-accessory img {
  max-width: 180px;
}
.popup-accessory p {
  color: #404040;
}
.popup-accessory .btn {
  padding: 1em 1.5em;
  font-size: 1em;
  border-radius: 8px;
  border-bottom-width: 6px;
  margin: 0 0.5em;
}
.popup-accessory .btn:active {
  top: 6px;
}
.popup-account-register input {
  box-sizing: border-box;
  width: 90%;
  border: none;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0.5em 1em;
}
.popup-account-register select {
  box-sizing: border-box;
  width: 90%;
  border: none;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0.5em 1em;
}
#slippers {
    width: 100%;
    height: 550px;
    /* margin: 2em; */
    display: block;
}
#slippers-container #left,
#slippers-container #right {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
#slippers-container.has-active #left,
#slippers-container.has-active #right {
  opacity: 0.6;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
#slippers-container.has-active #left.active,
#slippers-container.has-active #right.active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.theme-industrial .page-creator {
  background: #5a5a5a;
}
.theme-industrial .logo h2 {
  color: #d1d3d4;
}
.theme-industrial .options h3 {
  color: #d1d3d4;
}
.theme-industrial .options .wrap {
  background-color: #403d3c;
}
.theme-industrial .options-header li a {
  background-color: #5a5a5a;
  border-color: #2d2a2a;
}
.theme-industrial .options-header li a:after {
  border-top-color: #5a5a5a;
}
.theme-industrial .options-group {
  background-color: #7a7877;
  padding-left: 12px;
  padding-top: 4px;
  position: relative;
  top: -1px;
}
.theme-industrial .options-group .item {
  background-color: #fff;
  display: inline-block;
  height: 38px;
  width: 38px;
  margin: 1px;
  border-radius: 10px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}
.theme-industrial .owl-controls .owl-prev,
.theme-industrial .owl-controls .owl-next {
  background: #2d2a2a url("images/icon-arrow-left.svg") no-repeat center center !important;
  background-size: 9px !important;
  border-bottom: 5px solid #191516;
}
.theme-industrial .owl-controls .owl-next {
  left: auto;
  right: -1.5em;
  border-radius: 0 12px 12px 0 !important;
  background-image: url("images/icon-arrow-right.svg") !important;
}
.theme-industrial .main-checkout {
  background-color: #2d2a2a;
  padding: 0.5em;
}
.theme-industrial .main-view div {
  background-color: #2d2a2a;
  border-color: #fff;
}
.theme-industrial .main .btn-orange {
  background-color: #2d2a2a;
  border-color: #191516;
}
.theme-industrial .main p {
  color: #fff;
}
.theme-summer .page-creator {
  //background: url("images/themes/1.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.theme-baseball .page-creator {
  //background: url("images/themes/2.jpg") no-repeat;
  background-size: cover;
}
.theme-blue .page-creator {
  //background: url("images/themes/3.jpg") no-repeat;
  background-size: cover;
}
.page-start,
.page-home,
.page-choose-theme {
  display: block;
}
* {
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  box-sizing: border-box;
}
.transition-to-black {
  position: fixed;
  background-color: #000;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 250ms ease;
          transition: opacity 250ms ease;
}
.transition-to-black.active {
  z-index: 110;
  opacity: 1;
}
.transition-to-black.unactive {
  opacity: 0;
}
.hide * {
  opacity: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  overflow: hidden;
}
.container {
  max-width: 1280px;
  max-height: 800px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.cover {
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: auto !important;
  z-index: 10 !important;
  width: 100%;
  height: 100%;
}
.cover.active {
  display: block;
}
.cover.active + .main-place-accessory {
  display: block;
}
.center {
  text-align: center;
}
.currency {
  font-size: 1.25em;
}
.currency span {
  font-size: 0.65em;
}
.tooltip {
  overflow: visible !important;
}
.tooltip:after {
  background-color: #524b52;
  color: #fff;
  position: absolute;
  bottom: -20px;
  width: 50px;
  height: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: attr(data-price);
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.logo h2 {
  margin-left: 0.5em;

}
/*------industrial----------*/
.clear{clear: both;}
.newdesign li a {
    background-color: transparent;
  }
.newdesign  li{
 
  width: 95% !important;
}

.sole li a{
  background-color: #fff !important;
  color: #000;
  font-size: 14px !important;
}

.sole li.active a{
  top: 0px !important;
  background-color: #fff !important;
}

.newprint li.active a{
background-color: transparent !important;
}

.ops li a{
padding-top: 0px;
padding-bottom: 0px;

}

.ops h3{
  margin-top: 0px;
}

.ops ul#size li{  width: 90%;}

.ops  .js-carousel {
   
    padding-top: 4px !important; 
    padding-bottom: 1px !important;
   
}
.ops ul#size li.active a{
    top: 0px !important;
}

#sole_color{  top: 395px !important;}

/* JOHN CSS*/

.home-gallery {
  background-color: #86412a;
  border-radius: 15px;
  width: 22.5%;
  margin: 0 auto;
  padding: 0.5em 0.25em;
}
.home-gallery p {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
  padding: 0.5em;
}
.home-gallery .btn {
  border-width: 5px;
  font-size: 1em;
  border-radius: 10px;
  padding: 0.85em 1em;
}
.home-gallery .btn:active {
  top: 4px !important;
}

.gallery-choices {
  margin-left: 2em;
  padding-bottom: 2em;
  padding-top: 50px !important;
}
.gallery-choices li {
  padding-bottom: 25px;
  list-style: none;
  border-radius: 15px;
  background-color: rgba(148, 76, 39, 0.611765);
  padding-top: 30px;
}
.gallery-choices li a {
  color: #fff;
  text-decoration: none;
}
.gallery-choices h4{
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
}
.gallery-choices li div {
  margin: 1em;
  margin-right: 4em;

}
.gallery-choices li .image {
  height: 330px;
  width: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 10px solid rgba(0,0,0,0.4);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}
.gallery-choices li .btn {
  display: block;
  font-size: 1.5em;
  padding: 0.75em 2em;
  margin-top: 1em;
}
.gallery-choices{
  margin-left:0;
  padding-left: 0;
}

.gallery-choices .owl-item img{
  width: 100% !important;
  margin-left: 20px;
}

.gallery-choices .owl-controls .owl-prev {
  position: absolute;
  left: -0.5em;
  top: -0.5em;
  height: 100%;
  text-indent: -999px; 
  border-radius: 12px 0 0 12px !important; 
  opacity: 0.5 !important; 
  background:  url("images/icon-arrow-left.svg") no-repeat center center !important;
  background-size: 30px !important; 
  width: 50px;
}

.gallery-choices .owl-controls .owl-next {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  height: 100%;
  text-indent: 999px; 
  border-radius: 12px 0 0 12px !important; 
  opacity: 0.5 !important; 
  background:  url("images/icon-arrow-right.svg") no-repeat center center !important;
  background-size: 30px !important; 
  width: 50px;
}


.page-gallery {
  z-index: 800;
  background: #c7571d;
  background-size: 3%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  padding:1em;
}
.page-gallery h1 {
  margin-top: 0.35em;
  margin-bottom: 0.15em;
}
.page-gallery h1 img {
  max-width: 500px;
  min-width: 300px;
  padding-top: 1em;
}

.page-gallery .header .logo{
  width: 35%;
  margin-right: 0;
}
.page-gallery .header .nav{
  width: 35%; 
  float: right;
}
.page-gallery .header h2{
    width: 20%;
    float: left;
    display: inline-block;
    font-size: 35px;
    background-color: #86412a;
    border-radius: 15px;
    margin: 8px 5%;
    padding: 0.5em 0.25em;
}

.gallery-choices .owl-item{
  padding:20px;
}


.home-gender-choices {
  background-color: #86412a;
  border-radius: 15px;
  width: 22.5%;
  margin: 0 auto;
  padding: 0.5em 0.25em;
}
.home-gender-choices p {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
  padding: 0.5em;
}
.home-gender-choices .btn {
  border-width: 5px;
  font-size: 1em;
  border-radius: 10px;
  padding: 0.85em 1em;
}
.home-gender-choices .btn:active {
  top: 4px !important;
}

.page-gender-choices {
  z-index: 800;
  background: #c7571d;
  background-size: 3%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  padding:1em;
}
.page-gender-choices h1 {
  margin-top: 0.35em;
  margin-bottom: 0.15em;
}
.page-gender-choices h1 img {
  max-width: 500px;
  min-width: 300px;
  padding-top: 1em;
}

.page-gender-choices .header .logo{
  width: 30%;
  margin-right: 0;
}
.page-gender-choices .header .nav{
  width: 30%; 
  float: right;
}
.page-gender-choices .header h2{
    width: 30%;
    float: left;
    display: inline-block;
    font-size: 35px;
    background-color: #86412a;
    border-radius: 15px;
    margin: 8px 5%;
    padding: 0.5em 0.25em;
}
.personal-gallery {
  padding-left: 0px; 
  margin: 0;
}

.personal-gallery .owl-item li {
  list-style: none;
}

.personal-gallery .owl-item li span {
  border-radius: 15px;
  background-color: rgba(161, 143, 196, 0.37);
  padding-top: 10px;
  padding-bottom: 5px;
  display: block;
  margin: 10px;
}

.personal-gallery .owl-item li span img{
max-width: 120px;
}

.personal-gallery .owl-item{
 /* padding: 10px;*/
}
.personal-gallery .owl-controls .owl-prev {
  position: absolute;
  left: -1.5em;
  top: -0.5em;
  height: 100%;
  text-indent: -999px; 
  border-radius: 12px 0 0 12px !important; 
  opacity: 0.7 !important; 
  background:  url("images/icon-arrow-left2.svg") no-repeat center center !important;
  background-size: 30px !important; 
  width: 50px;
}
.personal-gallery li h4{margin-top: 0px; }

.personal-gallery  .owl-controls .owl-next {
  color:#000;
  position: absolute;
  right: -1.5em;
  top: -0.5em;
  height: 100%;
  text-indent: 999px; 
  border-radius: 12px 0 0 12px !important; 
  opacity: 0.7 !important; 
  background:  url("images/icon-arrow-right2.svg") no-repeat center center !important;
  background-size: 30px !important; 
  width: 50px;
}
.my-profile h2:first-child{
/*    width: 50%;
    font-size: 35px;
    background-color: #86412a;
    border-radius: 15px;
    margin: 8px 5%;
    padding: 0.5em 0.25em;
    text-align: center;
    margin: 0 auto;
    color: #fff;*/
}
.my-profile{
    width: 97.5%;
    background: #fae9be;
    float: left;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

 ul.personal-details li{
    list-style: none;
    /*display: inline-block;*/
    margin-right: 20px;
    margin-bottom: 5px;
}
.profile-label{
  float: left;
  width: 35%;
}

.user-details{
  width: 65%;
  float: right;
}
ul.personal-details{
  padding: 0;
}
ul.personal-details span{
  font-weight: bold;   
  width: 40%;
  display: inline-block;
 }

 .edit-details{
  float: right;
  position: absolute;
  top: 21%;
  right: 5%;
  border-radius: 10px;
 }
.edit-details:active{
  top: 21%;
}

.popup-save-preview-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
  /*padding-top: 2em;*/
}
.popup-save-preview-left:before,
.popup-save-preview-left:after {
  content: '';
  display: table;
}
.popup-save-preview-left:after {
  clear: both;
}
.popup-save-preview-left:last-child {
  margin-right: 0%;
}
.popup-save-preview-right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.popup-save-preview-right:before,
.popup-save-preview-right:after {
  content: '';
  display: table;
}
.popup-save-preview-right:after {
  clear: both;
}
.popup-save-preview-right:last-child {
  margin-right: 0%;
}
.popup-save-preview .btn {
  border-radius: 10px;
  border-bottom-width: 6px;
  padding: 0.5em 1em;
  font-size: 1.05em;
  margin:0;
}
.popup-save-preview .btn-share {
  padding-left: 40px;
  margin-top: 1em;
}
.popup-save-preview h2 {
  font-size: 1.1em;
}

.popup-checkout .popup-checkout-right{
padding-top: 50px;
}
.popup-checkout .my-creation-list{
  font-weight: bold;
  font-size: 22px;
}
.popup-checkout .my-creation-list select{
width: 100% !important;
height: 30px;
margin-top: 8px;
}
.popup-checkout .my-creation-list select{
  font-size: 15px;
  font-weight: bold;
}
.popup-checkout .summary-details-checkout h2{
  font-size: 22px;
  margin-bottom: 8px;
}
.popup-checkout .summary-details-checkout table th{
font-size: 16px;
}
.popup-checkout .summary-details-checkout table td{
  font-size: 14px;
  font-weight: bold;
}
.popup-checkout  .popup-checkout-subtotal td{
  font-size: 16px !important; 
  font-weight: bold !important;
  text-align: left;
}
.popup-checkout .popup-checkout-grandtotal td{
  font-size: 16px !important;
  font-weight: bold !important;
}

.popup-checkout .popup-checkout-grandtotal select{
  height: 20px;
}
.hasSVG{
  display: none;
}
.preview #slippers {
  width: 82%;
  margin: 0 auto;
  height: auto;
  padding-left: 8%;
}
.btn-save-design{
    bottom: 15px;
    position: absolute;
    width: 63%;
}
.btn-save-design:active{
    bottom: 15px;
    position: absolute;
    width: 63%;
    border-color: #284d38 !important;
    top: auto;
}
.preview-right-header{
  margin-bottom: 0px;
}
.preview-right-header, .preview-left-header{
  color: #ff6b00;
  text-transform: uppercase;
}
.preview-header .left{
  display: inline-block; margin-right: 10px;
}
.preview-header .move-right{
  float: right;
}
.btn-preview-current-design{
  font-size: 14px !important;
  margin-right: 0px !important;
  vertical-align: middle;
}
.preview{
  background:#f6f0e2;
  margin-bottom: 10px;
  padding-top: 8%;
  /*position: absolute;*/
  width: auto;
}
.preview img{
    width: 82%;
    height: 100%;
    padding-left: 8%;
}
.popup-preview-designs ul{
   margin-top: 0;
}
.popup-preview-designs a{
  text-decoration: none;
  color: #000;
}

.popup-preview-designs li{
  border:8px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  width: 70%;
}

.popup-preview-designs ul{
  padding:20px;
}
.male-female-title{
  text-shadow: 4px 4px #286a38;
}

.owl-carousel{
display: inline-block;
overflow: hidden;
}

.design-preview img{
  width: 90%;
}



/*block screen*/
/*@media only screen and (max-width: 560px) {
  .container{display: none;}
  body{
    background: url('images/device-block.png');
    background-position: center center;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}*/
/*@media only screen  and (max-device-width: 768px) {
    .container{display: none;}
  body{
    background: url('images/device-block.png');
    background-position: center center;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: transparent !important;
  }
  }*/
/*@media only screen  and (max-width: 768px) {
    .container{display: none;}
  body{
    background: url('images/device-block.png');
    background-position: center center;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: transparent !important;
  }
  }*/


  @media only screen  and (max-width: 1024px) {
    .gender-male, .gender-female {
      width: 45%;
    }

    .home-gender-kids .btn{
      min-width: 180px;
    }

    .main #slippers{
      padding-left: 20%;
      margin: 0 auto;
    }

    .page-start h1 img{
      width: 85%;
    }
    .page-start p{
      bottom: 25%;
    }
    .btn-checkout{
      font-size: 12px;
    }
  }

.add-btn, .btn-remove{margin:0px; padding:0; width: 30px;}
/*#item_size_country {margin-right: 8px; margin-left: 5px;}*/


@media only screen  and (min-width: 320px) {

body { zoom: 0.5 !important; -moz-transform: scale(0.5) !important; -moz-transform-origin: 50% 0;}

}

@media only screen  and (min-width: 767px) {

body { zoom: 1 !important; -moz-transform: scale(1) !important; -moz-transform-origin: 50% 0;}

}

@media only screen  and (min-width: 1025px) {

body { zoom: 0.82 !important; -moz-transform: scale(0.82) !important; -moz-transform-origin: 50% 0;}

}

@media only screen  and (min-width: 1600px) {

body { zoom: 1 !important; -moz-transform: scale(1) !important; -moz-transform-origin: 50% 0;}

}

