@import 'jeet'
@import 'rupture'

body
  background: url('../img/footbook-bg.jpg') no-repeat center center
  background-size: cover !important
  min-height: 100%

nav.navbar
  border-radius: 0
  background-color: rgba(#fff, 0.7)
  border: 0

.fb-dashboard
  a
    display: inline-block
    text-align: center
    border: 1px solid rgba(#000, 0.2)
    border-radius: 5px
    padding: 1em
    margin: 0.5em
    min-width: 200px
    background: #fff
    transform: scale(0.95)
    transition: all 250ms ease
    color: darken(orange, 10%)

    &:hover
      text-decoration: none
      transform: scale(1)
    img
      display: block
      margin: 0 auto 0.5em


.panel-default
  background: rgba(#fff, 0.8)
  .panel-heading
    background: rgba(#fff, 0.8)

.btn-primary
  background-color: orange
  border-color: darken(orange, 10%)
  transition: all 250ms ease
  &:hover
    background-color: lighten(orange, 10%)
    border-color: lighten(orange, 15%)
