.btn
  display: inline-block
  text-decoration: none
  text-transform: uppercase
  border-radius: 15px
  color: #FF6B00
  background-color: #fff
  border-bottom: 8px solid #A7A9AC
  font-weight: 900
  letter-spacing: -0.01em
  font-size: 0.9em
  padding: 0.55em 1em
  position: relative
  transition: none
  margin: 0.25em
  cursor: pointer
  user-select: none
  text-align: center
  &:active
    top: 8px
    border-color: transparent !important

.btn-red
  background-color: #C01E39
  border-color: darken(#C01E39, 40%)
  color: #fff

.btn-green
  background-color: #286A38
  border-color: #284D38
  color: #fff

.btn-green-light
  background-color: #39B54A
  border-color: #286A38
  color: #fff

.btn-orange
  background-color: orange
  border-color: #86412A
  color: #fff

.btn-small
  border-radius: 5px
  border-bottom-width: 4px
  &:active
    top: 4px

.btn-xsmall
  border-radius: 5px
  border-bottom-width: 2px
  padding: 2px
  font-size: 12px
  &:active
    top: 2px

.btn-upload + input
  display: none
  margin: -9999px

.btn-close
  height: 40px
  width: 40px
  position: absolute
  top: -15px
  right: -15px
  background: url('images/icon-close.svg') no-repeat center center
  background-size: 38px
  overflow: hidden
  text-indent: -999px
  cursor: pointer

.btn-share
  background: #318DDE url('images/icon-share.svg') no-repeat 10px center
  border-color: #005CB9
  padding-left: 40px
  background-size: 20px
  overflow: hidden
  color: #fff
  font-size: 1em

.btn-blue
  border-color: #005CB9
  background-color: #318DDE
  color: #fff

